<app-a-navbar></app-a-navbar>
<!-- main content-->
<div class="flex">
    <!--Sidebar-->
    <app-a-sidebar></app-a-sidebar>
    <main class="flex-1 bg-slate-200">
        <div class="container mx-auto px-10 pt-10 pb-10">
            <div class="max-w-full bg-white pt-10 justify-center items-center text-center flex">                
                <!--Details-->
                <div class=" w-auto text-sm  font-bold leading-6 bg-stripes-fuchsia rounded-lg block">  
                    <div class="flex items-center justify-center py-8 px-1 ">
                        <div class="md:min-w-full rounded-md shadow-lg p-5 bg-white">
                            <h1 class="pt-2 pb-5 text-gray-800 font-bold text-lg">Doctors List</h1>
                                <hr/>
                                
                                <div class="flex flex-col">
                                    <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
                                      <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
                                        <div class="overflow-x-auto">
                                         
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>                 
    </main>

</div>


