<app-a-navbar></app-a-navbar>
<!-- main content-->
<div class="flex">
    <!--Sidebar-->
    <app-a-sidebar></app-a-sidebar>
    <main class="flex-1 bg-slate-200">
        <div class="container mx-auto px-10 pt-10 pb-10">
            <div class="max-w-full bg-white pt-10 justify-center items-center text-center flex">
              
                <!--Details-->
                <div class=" w-auto text-sm  font-bold leading-6 bg-stripes-fuchsia rounded-lg block">  
                    <div class="flex items-center justify-center py-8 px-1 ">

                        <div class="md:min-w-full rounded-md shadow-lg p-5 bg-white">
                         <!--Doctor Menu -->
                         <!--Updated-->
                         <!-- <div class="p-4 mb-4 max-w-fit justify-end text-sm text-blue-700 bg-blue-100 rounded-lg dark:bg-blue-200 dark:text-blue-800" role="alert">
                          <span class="font-medium">Updated Successfully</span>
                        </div>     -->
                        <!--Deleted-->
                        <div *ngIf="deleted" class="flex p-4 max-w-fit mb-4 text-sm text-red-700 bg-red-100 rounded-lg dark:bg-red-200 dark:text-red-800" role="alert">
                            <span class="font-medium">Deleted Successfully</span>
                        </div>
                        <div class="inline-flex  mx-auto">
                          <input type="search" [(ngModel)]="searchText" class="inline form-control relative flex-auto min-w-0  w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" placeholder="Search" aria-label="Search" aria-describedby="button-addon2">
                          <button  class="inline btn px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700  focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out items-center" type="button" id="button-addon2">
                            <i class="fa-sharp fa-solid fa-magnifying-glass inline"></i>
                          </button>
                       </div>
                        
                        <div class="flex items-start">                            
                        <a class="bg-blue-500 p-2 rounded-md" href="admin/doctor/add"><i class="fa-solid fa-plus mr-1"></i><button>Add</button></a>                
                      </div>
                            <h1 class="pt-2 pb-5 text-gray-800 font-bold text-lg">Doctors List</h1>
                                <hr/>
                                <div class="flex flex-col">
                                    <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
                                      <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
                                        <div class="overflow-x-auto">
                                          <table class="min-w-full">
                                            <thead class="border-b">
                                              <tr>
                                                <th scope="col" class="text-sm font-bold text-gray-900 px-6 py-4 text-left">
                                                  S.No
                                                </th>
                                                <th scope="col" class="text-sm font-blod text-gray-900 px-6 py-4 text-left">
                                                  Name
                                                </th>
                                                <th scope="col" class="text-sm font-bold text-gray-900 px-6 py-4 text-left">
                                                  Specialist
                                                </th>
                                                <th scope="col" class="text-sm font-bold text-gray-900 px-6 py-4 text-left">
                                                  Gender
                                                </th> 
                                                <th scope="col" class="text-sm font-bold text-gray-900 px-6 py-4 text-left">
                                                  Email
                                                </th> 
                                                <th scope="col" class="text-sm font-bold text-gray-900 px-6 py-4 text-left">
                                                  Phone Number
                                                </th> 
                                              </tr>
                                            </thead>
                                            <tbody *ngFor="let doctor of doctors | filter:searchText, let i = index">
                                              <tr class="border-b">
                                                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">{{ doctor.id }}</td>
                                                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                                  {{ doctor.firstName + " " +doctor.lastName }}
                                                </td>
                                                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                                  {{ doctor.specialist | titlecase }}
                                                </td>
                                                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                                  {{ doctor.gender | titlecase }}
                                                </td>
                                                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap text-left">
                                                  {{ doctor.email | titlecase }}
                                                </td>
                                                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                                  {{ doctor.phoneNumber }}
                                                </td>
                                                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                                   
                                                        <i class="fi fi-rr-edit text-blue-400 mr-2"></i> <span>Edit</span>
                                                   
                                                </td>
                                                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                                    <button (click)="delete(doctor.id)">
                                                        <i class="fi fi-sr-delete-document text-red-500"></i> Delete
                                                    </button>
                                                    
                                                </td>                                        
                                              </tr>
                                            </tbody>
                                          </table>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>                 
    </main>

</div>


