<!-- <app-a-navbar></app-a-navbar>
<!-- main content-->
<div class="flex">
    <!--Sidebar-->
    <app-a-sidebar></app-a-sidebar>
    <main class="flex-1 bg-slate-200">
        <div class="container mx-auto px-10 pt-10 pb-10">
            <div class="max-w-full bg-white pt-10 justify-center items-center text-center flex">                
                <!--Details-->
                <div class=" w-auto text-sm  font-bold leading-6 bg-stripes-fuchsia rounded-lg block">  
                    <div class="flex items-center justify-center py-8 px-1 ">
                        <div class="md:min-w-full rounded-md shadow-lg p-5 bg-white">
                            <h1 class="pt-2 pb-5 text-gray-800 font-bold text-lg">Payment List</h1>
                                <hr/>
                                <div class="flex flex-col">
                                    <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
                                      <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
                                        <div class="overflow-x-auto">
                                          <table class="min-w-full">
                                            <thead class="border-b">
                                              <tr>
                                                <th scope="col" class="text-sm font-bold text-gray-900 px-6 py-4 text-left">
                                                  P.ID
                                                </th>
                                                <th scope="col" class="text-sm font-blod text-gray-900 px-6 py-4 text-left">
                                                  Total
                                                </th>
                                                <th scope="col" class="text-sm font-bold text-gray-900 px-6 py-4 text-left">
                                                  Date
                                                </th>
                                                <th scope="col" class="text-sm font-bold text-gray-900 px-6 py-4 text-left">
                                                  Address
                                                </th>
                                                
                                                
                                                
                                                
                                              </tr>
                                            </thead>
                                            <tbody>
                                              <tr class="border-b">
                                                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">1</td>
                                                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap text-left">
                                                  Sai Krishna
                                                </td>
                                                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap text-left">
                                                  Male
                                                </td>
                                                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap text-left">
                                                  Guntur
                                                </td>
                                                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap text-left">
                                                    <a href="">
                                                        <i class="fi fi-rr-edit text-blue-400 mr-2"></i> <span>Edit</span>
                                                    </a>
                                                </td>
                                                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                                    <a href="">
                                                        <i class="fi fi-sr-delete-document text-red-500"></i> Delete
                                                    </a>
                                                    
                                                </td>

                                                
                                                
                                               
                                              </tr>
                                              
                                              <tr class="bg-white border-b">
                                                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">2</td>
                                                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap text-left">
                                                  Charan
                                                </td>
                                                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap text-left">
                                                  Male
                                                </td>
                                                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap text-left">
                                                  Vijayawada
                                                </td>
                                                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                                    <a href="">
                                                        <i class="fi fi-rr-edit text-blue-400 mr-2"></i> <span>Edit</span>
                                                    </a>
                                                </td>
                                                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                                    <a href="">
                                                        <i class="fi fi-sr-delete-document text-red-500"></i> Delete
                                                    </a>
                                                    
                                                </td>
                                              </tr>
                                            </tbody>
                                          </table>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>                 
    </main>

</div> -->
