<app-p-navbar></app-p-navbar>
<!-- main content-->
<div class="flex">
    <!--Sidebar-->
    <app-p-siderbar></app-p-siderbar>
    <main class="flex-1 bg-slate-200">
        <div class="container mx-auto px-20 pt-10 pb-10">
            <div class="grid grid-cols-2 gap-4  text-sm  font-bold leading-6 bg-stripes-fuchsia rounded-lg ">
            
                 <!--Appointment--> 
                 <div class="flex  justify-center py-8 px-1 ">
                    <div class="md:w-full rounded-md shadow-lg p-5 bg-white">
                      <div class=" ml-10">
                        <h1 class="pt-2 pb-7 text-gray-800 font-bold text-lg">Appointments</h1>
                        <div class="flex items-center justify-between mb-2">
                            <div class="flex items-center">
                                <p class="text-lg font-semibold ">Sunday, 15 Dec</p>
                            </div>
                        </div>
                        <div class="flex items-center justify-between pt-5 -mt-2">
                            <div class="flex items-center">
                                <i class="fi fi-rs-clock-five"></i> 
                            <!--Timing-->
                            <p class="text-gray-600 text-sm font-medium pl-3">10:30 - 11:00</p>
                            </div>
                        </div>
                        <div class="flex items-center justify-between pt-5 -mt-2">
                            <div class="flex items-center">
                                <i class="fi fi-rr-marker"></i>
                                <!--Location-->
                                <p class="text-gray-600 text-sm font-medium pl-3">Manipal Hospital, Vijayawada</p>
                            </div>
                        </div>
                        <!--Doctor Name-->
                        <div class="flex items-center justify-between pt-5 -mt-2">
                            <div class="flex items-center">
                                <i class="fi fi-rr-user"></i>
                                <p class="text-gray-600 text-sm font-medium pl-3">Surya Kiran</p>
                            </div>
                        </div>
                        
                    </div>
                    </div>
                  </div>

                <!--My Payments-->
                <div class="flex  justify-center py-8 px-1 ">
                    <div class="md:w-full rounded-md shadow-lg p-5 bg-white">
                        <h1 class="text">My Payments</h1>
                    </div>
                </div>
                
            </div>
        
            <!--Recent Activity-->
            <div class=" w-auto text-sm  font-bold leading-6 bg-stripes-fuchsia rounded-lg ">  
                <div class="flex items-center justify-center py-8 px-1 ">
                    <div class="md:min-w-full rounded-md shadow-lg p-5 bg-white">
                        <h1 class="pt-2 pb-5 text-gray-800 font-bold text-lg">Recent Activity</h1>
                            <hr/>
                            <div class="flex flex-col">
                                <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
                                  <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
                                    <div class="overflow-x-auto">
                                      <table class="min-w-full">
                                        <thead class="border-b">
                                          <tr>
                                            <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                                              #
                                            </th>
                                            <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                                              Type
                                            </th>
                                            <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                                              Name
                                            </th>
                                            <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                                              Date
                                            </th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr class="border-b">
                                            <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">1</td>
                                            <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                              Treatment
                                            </td>
                                            <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                              Dr. Surya Kiran
                                            </td>
                                            <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                              17-09-2022
                                            </td>
                                          </tr>
                                          
                                          <tr class="bg-white border-b">
                                            <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">3</td>
                                            <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                              Cell
                                            </td>
                                            <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                              Cell
                                            </td>
                                            <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                              Cell
                                            </td>
                                           
                                          </tr>
                                        </tbody>
                                      </table>
                                    </div>
                                  </div>
                                </div>
                              </div>
                    </div>
                </div>
            </div>
        
        </div>

       

       
    
    </main>

</div>
