


<!-- <section id="header" class="pt-40" >
    <div class="container p-10">
        
        <h1 class="pl-5 text-2xl font-extrabold">Welcome to Our CMS </h1>
        <div class="p-5 bg-orange-200 w-6/12">
            <p>Our experienced and compassionate staff provides a wide range of services to meet your health care needs

                Our services include primary care, mental health services, substance abuse treatment, and more. 
                
                Whether you are a new or returning patient, we welcome you to the Out-Patient Health Clinic!</p>
        </div>
    </div>
</section> -->

<!--Route-->
<router-outlet></router-outlet>