<app-navbar></app-navbar>


<div class="min-h-full flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
    <div class="max-w-md w-full space-y-8">
      <div class="flex flex-wrap">
        <div class="w-full">
          <ul class="flex mb-0 list-none  pt-3 pb-4 mt-10">
            <li class="-mb-px mr-2 last:mr-0 flex-auto text-center">
              <a href="patient/login">
                <button class="text-xs font-bold uppercase px-5 py-3 shadow-lg rounded block leading-normal" >
                  <i class="fi fi-rr-user inline text-5xl"></i>
                  <p>Patient</p>
                </button>
              </a>
              
            </li>
            <li class="-mb-px mr-2 last:mr-0 flex-auto text-center">
              <a href="doctor/login">
                <button class="text-xs font-bold uppercase px-5 py-3 shadow-lg rounded block leading-normal" >
                  <i class="fi fi-rr-user inline text-5xl"></i>
                   <p>Doctor</p> 
                </button>
              </a>
              
            </li>
            <li class="-mb-px mr-2 last:mr-0 flex-auto text-center">
              <a href="receptionist/login">
                <button class="text-xs font-bold uppercase px-5 py-3 shadow-lg rounded block leading-normal" >
                  <i class="fi fi-rr-user inline text-5xl"></i>
                  <p>Receptionist</p>
                </button>
              </a>
              
            </li>
            <li class="-mb-px mr-2 last:mr-0 flex-auto text-center">
              <a href="admin/login">
                <button class="text-xs font-bold uppercase px-5 py-3 shadow-lg rounded block leading-normal" >
                  <i class="fi fi-rr-user inline text-5xl"></i>
                  <p>Admin1</p>
                </button>
              </a>
              
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

